@media(min-width: 768px) {
    .not-show.yes-show {
        display: flex;
    }
}

/* Navbar.css */
.nav-links {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 64px;
    /* adjust as per your navbar height */
    left: 0;
    width: 100%;
    background: rgba(44, 44, 48, 0.781);
    padding: 1rem;
    z-index: 20;
    transition: all 0.3s;
}

.nav-links.open {
    display: flex;
}

@media (min-width: 768px) {
    .nav-links {
        display: flex !important;
        position: static;
        flex-direction: row;
        width: auto;
        background: transparent;
        padding: 0;
        align-items: center;
        gap: 1.5rem;
    }
}

.nav-link {
    position: relative;
    padding: 0.5rem 1rem;
    background: none;
    border: none;
    color: inherit;
    font: inherit;
    cursor: pointer;
    outline: none;
    margin-bottom: 0.5rem;
}

@media (min-width: 768px) {
    .nav-link {
        margin-bottom: 0;
    }
}

.nav-link::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0.2rem;
    width: 0;
    height: 4px;
    background: #ef4444;
    border-radius: 2px;
    transition: width 0.3s;
}

.nav-link:hover::after {
    width: 100%;
}